.container{
    background-color: rgb(30, 3, 54);
    border-radius: 20px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding:50px;
    margin:20px;
}
@keyframes square-in-center {
  from {
    clip-path: inset(100% 100% 100% 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}


.img{
    height: 230px;
    width: 230px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px 3px rgba(208, 107, 107, 0.63);
    animation: 1.5s cubic-bezier(.25, 1, .30, 1) square-in-center both;
}


.box{
    width:500px;
    margin-left: 30px;
    background-color: rgb(54 3 28 / 46%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 3px rgba(208, 107, 107, 0.63);
}
.title{
    text-transform: uppercase;
}
.description{
    font-size: 20px;
    color: rgb(196, 189, 189);
}
.price{
    font-weight: 800;
    font-size: 16px;
}