.productContainer{
    padding:20px;
    box-shadow: 2px 2px 8px 5px rgba(143, 140, 140, 0.563);
    margin-top: 50px;
}

.product-img {
    max-width: 300px;
    height: auto;
    border: 2px solid #ccc;
    margin-top: 50px;
    border-radius: 9px;
}
.linkProduct{
    padding:8px 18px;
    border-radius: 10px;
    background-color: rgb(59, 8, 107);
    color: white;
    font-weight: 700;
}
